<div ng-controller="MainCtrl" layout="column" flex style="padding-top:5px;">
	
	<div layout="column" flex layout-align="start stretch">
	<div layout="row" layout-align="space-around start" style="padding-bottom:5px;">
		<md-button class="md-raised" ng-click="turnColor('white')">white</md-button>
		<md-button class="md-raised" ng-click="turnColor('warm')">warm</md-button>
		<md-button class="md-raised" ng-click="turnColor('cold')">cold</md-button>
	</div>
	<div layout="row" layout-align="space-around start" style="padding-bottom:5px;">
		<md-button class="md-raised" ng-click="turnColor('red')">red</md-button>
		<md-button class="md-raised" ng-click="turnColor('green')">green</md-button>
		<md-button class="md-raised" ng-click="turnColor('blue')">blue</md-button>		
	</div>
	<div layout="row" layout-align="space-around start" style="padding-bottom:5px;">
		<md-button class="md-raised" ng-click="turnColor('orange')">orange</md-button>
		<md-button class="md-raised" ng-click="turnColor('lgreen')">l green</md-button>
		<md-button class="md-raised" ng-click="turnColor('purple')">purple</md-button>		
	</div>
	</div>
     	
</div>