<mat-toolbar color="primary">
    <h1>Charts</h1>
    <span fxFlex></span>
    <button mat-raised-button (click)="updateChart()"><mat-icon>favorite</mat-icon></button>
  </mat-toolbar>
<div fxFlexFill fxLayout="column">
    <div  fxLayout="column" class="chart_container">
        <canvas id="temps">{{ chart }}</canvas>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field>
                <input matInput [matDatepicker]="startPicker" placeholder="Choose a start date" 
                (dateInput)="changeDate(true, $event)">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #startPicker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button (click)="search()" color="primary">SEARCH</button>
            <mat-form-field>
                <input matInput [matDatepicker]="endPicker" placeholder="Choose a end date" 
                (dateInput)="changeDate(false, $event)" [min]="startDate" 
                [disabled]="!startDate" [value]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #endPicker></mat-datepicker>
            </mat-form-field>        
    </div>
</div>