<div fxFlexFill fxLayout="column">
    <mat-toolbar color="primary">
        <h1>Charts</h1>
        <span fxFlex></span>
        <mat-icon>favorite</mat-icon>
      </mat-toolbar>
    <div fxFlex fxLayout="column">
      <div fxFlex fxLayoutAlign="center end" class="chart">
          <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [options]="lineChartOptions"
          chartType="line">
        </canvas>
      </div>
      <div fxFlex fxLayoutAlign="center end" class="chart">
          <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [options]="lineChartOptions"
          chartType="line">
        </canvas>
      </div>
      <div fxFlex fxLayoutAlign="center end" class="chart">
          <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [colors]="lineChartColors"
          [options]="lineChartOptions"
          chartType="line">
        </canvas>
      </div>
    </div>
</div>