/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    margin: 0;
}

.red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: white;
}

.blu{
    background-color: blue;
    color: white;
}

.fuchsia{
    background-color: fuchsia;
    color: white;
}

.cyan{
    background-color: cyan;
}

.warm{
    background-color: coral;
}

.white{
    background-color: black;
    color: white;
}